.highlight-green {
	background-color: rgba(100, 203, 153, 0.6); /* Change this to the color you want */
}

.highlight-yellow {
	background-color: rgba(255, 255, 0, 0.6); /* Light yellow with 50% opacity */
}

.main-content {
	padding-left: 25px;
	padding-top: 25px;
	/*margin-left: auto;
	margin-right: auto;
	margin-top: auto;*/
	max-width: 1000px;
}

.scrollable-list {
	max-height: 300px;
	overflow-y: auto;
}

.card-btn:hover {
	background-color: #f8f9fa;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*https://codepen.io/chrisnager/pen/GgBxGm*/

.gh-button {
	display: inline-block;
}

.gh-button {
	box-sizing: border-box;
	height: 30px;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	padding: 2px 5px 2px 4px;
	color: #333;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;

	padding: 3px 10px 3px 8px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 4px;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
}

.gh-button:hover,
.gh-button:focus {
	text-decoration: none;
	background-color: #ddd;
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
}

.gh-button:active {
	background: #dcdcdc;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
}

.gh-button__icon {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIxMiAxMiA0MCA0MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAxMiAxMiA0MCA0MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNMzIsMTMuNGMtMTAuNSwwLTE5LDguNS0xOSwxOWMwLDguNCw1LjUsMTUuNSwxMywxOGMxLDAuMiwxLjMtMC40LDEuMy0wLjljMC0wLjUsMC0xLjcsMC0zLjINCgljLTUuMywxLjEtNi40LTIuNi02LjQtMi42QzIwLDQxLjYsMTguOCw0MSwxOC44LDQxYy0xLjctMS4yLDAuMS0xLjEsMC4xLTEuMWMxLjksMC4xLDIuOSwyLDIuOSwyYzEuNywyLjksNC41LDIuMSw1LjUsMS42DQoJYzAuMi0xLjIsMC43LTIuMSwxLjItMi42Yy00LjItMC41LTguNy0yLjEtOC43LTkuNGMwLTIuMSwwLjctMy43LDItNS4xYy0wLjItMC41LTAuOC0yLjQsMC4yLTVjMCwwLDEuNi0wLjUsNS4yLDINCgljMS41LTAuNCwzLjEtMC43LDQuOC0wLjdjMS42LDAsMy4zLDAuMiw0LjcsMC43YzMuNi0yLjQsNS4yLTIsNS4yLTJjMSwyLjYsMC40LDQuNiwwLjIsNWMxLjIsMS4zLDIsMywyLDUuMWMwLDcuMy00LjUsOC45LTguNyw5LjQNCgljMC43LDAuNiwxLjMsMS43LDEuMywzLjVjMCwyLjYsMCw0LjYsMCw1LjJjMCwwLjUsMC40LDEuMSwxLjMsMC45YzcuNS0yLjYsMTMtOS43LDEzLTE4LjFDNTEsMjEuOSw0Mi41LDEzLjQsMzIsMTMuNHoiLz4NCjwvc3ZnPg0K);
	background-size: contain;
}

.gl-button__icon {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	margin-right: 4px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODAgMzgwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UyNDMyOTt9LmNscy0ye2ZpbGw6I2ZjNmQyNjt9LmNscy0ze2ZpbGw6I2ZjYTMyNjt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxPR08iPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI4Mi44MywxNzAuNzNsLS4yNy0uNjktMjYuMTQtNjguMjJhNi44MSw2LjgxLDAsMCwwLTIuNjktMy4yNCw3LDcsMCwwLDAtOCwuNDMsNyw3LDAsMCwwLTIuMzIsMy41MmwtMTcuNjUsNTRIMTU0LjI5bC0xNy42NS01NEE2Ljg2LDYuODYsMCwwLDAsMTM0LjMyLDk5YTcsNywwLDAsMC04LS40Myw2Ljg3LDYuODcsMCwwLDAtMi42OSwzLjI0TDk3LjQ0LDE3MGwtLjI2LjY5YTQ4LjU0LDQ4LjU0LDAsMCwwLDE2LjEsNTYuMWwuMDkuMDcuMjQuMTcsMzkuODIsMjkuODIsMTkuNywxNC45MSwxMiw5LjA2YTguMDcsOC4wNywwLDAsMCw5Ljc2LDBsMTItOS4wNiwxOS43LTE0LjkxLDQwLjA2LTMwLC4xLS4wOEE0OC41Niw0OC41NiwwLDAsMCwyODIuODMsMTcwLjczWiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI4Mi44MywxNzAuNzNsLS4yNy0uNjlhODguMyw4OC4zLDAsMCwwLTM1LjE1LDE1LjhMMTkwLDIyOS4yNWMxOS41NSwxNC43OSwzNi41NywyNy42NCwzNi41NywyNy42NGw0MC4wNi0zMCwuMS0uMDhBNDguNTYsNDguNTYsMCwwLDAsMjgyLjgzLDE3MC43M1oiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik0xNTMuNDMsMjU2Ljg5bDE5LjcsMTQuOTEsMTIsOS4wNmE4LjA3LDguMDcsMCwwLDAsOS43NiwwbDEyLTkuMDYsMTkuNy0xNC45MVMyMDkuNTUsMjQ0LDE5MCwyMjkuMjVDMTcwLjQ1LDI0NCwxNTMuNDMsMjU2Ljg5LDE1My40MywyNTYuODlaIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMTMyLjU4LDE4NS44NEE4OC4xOSw4OC4xOSwwLDAsMCw5Ny40NCwxNzBsLS4yNi42OWE0OC41NCw0OC41NCwwLDAsMCwxNi4xLDU2LjFsLjA5LjA3LjI0LjE3LDM5LjgyLDI5LjgyczE3LTEyLjg1LDM2LjU3LTI3LjY0WiIvPjwvZz48L3N2Zz4=);
	background-size: contain;
}