.highlight-green {
	background-color: rgba(100, 203, 153, 0.6); /* Change this to the color you want */
}

.highlight-yellow {
	background-color: rgba(255, 255, 0, 0.6); /* Light yellow with 50% opacity */
}

.main-content {
	padding-left: 25px;
	padding-top: 25px;
	/*margin-left: auto;
	margin-right: auto;
	margin-top: auto;*/
	max-width: 1000px;
}

.scrollable-list {
	max-height: 300px;
	overflow-y: auto;
}

.card-btn:hover {
	background-color: #f8f9fa;
}