web/db_connect.py
web/mail_config.py
web/test.py
web/results/*.log
web/submissions/*.S
web/.env
web/__ending_mem__
web/__starting_mem__
.env
web/encode_email.py
web/old_db.py
**/__pycache__/
test
web/*.disable
reference
**/.venv/
**/organizations.json

docs/.vitepress/dist
docs/.vitepress/cache
node_modules

webeval_data.sql
webeval_full_data.sql