<footer class="footer py-3 bg-light text-dark">
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-sm-4 d-flex flex-column justify-content-center align-items-center">
				<p>&copy; 2023 - 2026 Czech Technical University in Prague</p>
			</div>
			<div class="col-sm-4 text-center">
				<a class="gh-button" href="https://github.com/cvut/qtrvsim"><span class="gh-button__icon"></span>QtRvSim</a>
			</div>
			<div class="col-sm-4 text-center">
				<a class="gh-button" href="https://gitlab.fel.cvut.cz/b35apo/qtrvsim-eval-web"><div class="gl-button__icon"></div>Web Evaluator</a>
			</div>
		</div>
	</div>
</footer>
