{% extends "base.html" %}

{% block title %}
Invalid Credentials
{% endblock title %}

{% block content %}
	<div class="card text-center">
		<div class="card-body">
			<h1 class="card-title">Invalid Credentials</h1>
			<p class="card-text">The username or password you entered is incorrect.</p>
			<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="location.href='{{ redirect_url }}'">
				<div class="card-body text-center">
					Go Back
				</div>
			</div>
		</div>
	</div>
{% endblock content %}