{% extends "codemirror.html" %}

{% block title %}
	{{ task_name }}
{% endblock title %}

{% block content %}
	<h2>Submission for task: {{ task_name }}</h2>
	<form method="post" id="codeForm">
		<div class="mb-3">
			<label for="code">Paste your code below:</label><br>
			<textarea class="form-control" id="code" name="code" style="width:600px; display:none;"></textarea>
			<div id="codeMirror" style="width:600px;"></div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock content %}

{% block cmirror %}
	<script>
		var textarea = document.getElementById('code');
		var editor = CodeMirror(document.getElementById("codeMirror"), {
			lineNumbers: true,
			mode: "gas",
			lineWrapping: true,
			viewportMargin: Infinity,
			value: textarea.value
		});

		editor.setSize("600px", "750px");

		document.getElementById('codeForm').addEventListener('submit', function() {
			textarea.value = editor.getValue();
		});
	</script>
{% endblock %}